.main-container{
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px ;
    padding: 15px 30px;
    margin: 30px auto;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
input{
    margin: 3px 0 ;
}
/*-----------------:checked-----------------*/
input[type=radio]:checked + label{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 3px;
}
input[type=checkbox]:checked{
    margin-left: 15px;
    box-shadow: 0 0 0 3px lime;
}
/*------------------:enabled / :disabled--------------*/
input[type=text]:enabled{
    background-color: #3ac517bd;
}
input[type=text]:disabled{
    background: #dddddd;
}
/*-----------------:focus---------------------*/
input[type=text]:focus{
    width: 190px;
    height: 22px;
}
/*-------:in-range / :out-of-range-----------*/
input[type=number]:in-range{
    border: 2px solid green;
}
input[type=number]:out-of-range{
    border: 2px solid red;
}
/*----------:valid / :invalid --------------- */
input[type=email]:valid{
    background-color: rgb(0, 225, 255);
}
input[type=email]:invalid{
    background-color: rgb(236, 123, 123);
}
/*-----------:opctional / :required---------*/
input:required{
    background-color: rgb(255, 0, 221);
}
/*------------:read-write / :read-only------------*/
input:read-only{
    background-color: yellow;
}