@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coming+Soon&family=Playwrite+AR:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(89, 148, 201);
    margin: 0%;
    perspective: 1000PX; /*SIMPLEMENTE LA PERSPECTICA, JUGAR CON LOS VALORES*/
}


h1{
    color:rgb(105, 200, 200);
    font-family:'Times New Roman', Times, serif;
}

#suma{
    color:rgb(128, 128, 247);
    background-color: crimson;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-size: 24px;
    padding: 20px 50px ;
    border: 4px solid black;
    border-radius: 90px;
    margin: 5px 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    top: -70px;
    left: 20%;
    /* animation-name: cambiocolor;
    animation-duration: 2000ms;
    animation-timing-function: ease-in;
    animation-delay: 1000ms;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
    animation: cambiocolor 2000ms ease-in 1000ms 5 alternate forwards, tamañoletra 2000ms ease-out 5 forwards;
    
}
@keyframes cambiocolor{
    0%{
        background-color: crimson;
        border-radius: 90px;
    }
    100%{
        background-color: lightcoral;
        border-radius: 150px;
    }
}
@keyframes tamañoletra{
    0%{font-size: 24px;}
    100%{font-size: 48px;}
}

#descripcion{
    color: maroon;
    background-color: khaki;
    font-family: "Playwrite AR", cursive;
    font-size: 18px;
    padding: 7px 4%;
    border: 4px solid black;
    border-radius: 70px;
    margin: 5px 10px;
    width: 500px;
    height: 210px;
    display: inline-block;
    position: relative;
    left: 25%;
}

a.navegacion{
    color:rgb(62, 12, 112);
    background-color: burlywood;
    font-size: 18px;
    font-family: "Playwrite AR", cursive;
    border: 2px solid black;
    margin: 10% 4px;
    padding: 0px 8px;
}

#nav{
    background-color: maroon;
    width: 32%;
    padding: 30px 10px;
    position: sticky;
    top: 0;
}

a.navegacion:hover{
    color: darkorange;
}

p{
    color:rgb(24, 83, 24);
    text-align: center;
    font-size: 26px;
}


.social{
    text-align: center;
    padding: 10px;
    margin: 40px;
}

.social a:hover{
    padding: 70px 20px 30px 20px;
    background-color: lightsalmon;
}

a.canalyoutube{
    font-family: "Comic Neue", cursive;
    margin: 0% 20% 40% 700px;
    font-size: 38px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border-radius: 9px;
}
a.canalyoutube:hover{
    color:red;
    background-color: white;
}

.foto{
    /* background-image: url("https://i.pinimg.com/564x/5c/19/f2/5c19f22bcf848cda28f56c3f035ddb67.jpg"); */
    background-repeat: no-repeat;
    height: 828px;
    width: 564px;
    border: 10px solid rgb(97, 61, 0);
    border-radius: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://i.pinimg.com/564x/5c/19/f2/5c19f22bcf848cda28f56c3f035ddb67.jpg");
    padding: 40px;
    box-sizing: border-box;
}

#yutu{
    padding: 40px 0px;
}

.icono{
    background-image: url(https://www.anmosugoi.com/wp-content/uploads/2024/07/Alisa-Mikhailovna-Kujou-de-Tokidoki-Bosotto-Roshia-go-rompe-internet-con-su-belleza-2-1200x673.webp);
    width: 300px;
    height: 300px;
    position: fixed;
    top: 15px;
    right: 0;
    background-position: 50% 50%;
    border: 8px solid black;
    border-radius: 50%;
    transition-property: background-image, width, height;
    transition-delay: 1s;
    transition-duration: 2000ms, 200ms, 1000ms;
    transition-timing-function: cubic-bezier(.85,1.01,.92,.38);
}

.icono:hover{
    background-image: url(https://www.anmosugoi.com/wp-content/uploads/2024/07/Alisa-Mikhailovna-Kujou-de-Tokidoki-Bosotto-Roshia-go-rompe-internet-con-su-belleza-1-1200x683.webp);
    width: 400px;
    height: 400px;
    position: fixed;
    top: 15px;
    right: 0;
    background-position: 40% 50%;
    border: 8px solid black;
    border-radius: 50%;
}

.bar{
    margin: 20px 10px;
    border: 4px solid black;
    width: 100%;
    height: 50px;
    border-radius: 400px;
    overflow: hidden;
}

.porcentaje{
    background-color: aquamarine;
    width: 10%;
    height: 100%;
    transition: width 1000ms ease-in 500ms;
}

.porcentaje:hover{
    background-color: blue;
    width: 100%;
}

#transform{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Wikipe-tan_full_length.svg/1200px-Wikipe-tan_full_length.svg.png");
    width: 1000px;
    height: 1000px;
    border: 4px solid black;
    margin: 0px 25%;
    padding: 40px 400px;
    box-sizing: border-box;
    transition: transform 2000ms;
    /* transform-origin: top left;*/  /*DESCUBRIR EL PUNTOD DE ORIGEN AL APLICAR TRANSFORM*% */
}

#transform:hover{
    /* transform: translate(60px, 40px); lo va hacer trasladar de un lado a otro */
    /* transform: rotate(45deg); lo hara rotar en el mismo eje */
    /* transform: scale(0.5, 0.5); lo agrandará o achicara depende de los valores */
    /*AHORA EN 3D*/
    /* transform: rotateX(180deg); */
    transform: rotateY(180deg);
    /* transform: rotateZ(90deg); */
}

#letra{
    font-size: 48px;
    text-decoration: line-through;
    text-shadow: 10px 2px black;
}

.flexbox{
    background-color: blueviolet;
    margin: 5% 40%;
    border: 4px solid black;
    width: 400px;
    height: 300px;
    display: flex;
    /* justify-content: space-around; */ /*COLOCA ESPACIOS AL INICIO, MEDIO AL FINAL*/
    justify-content: space-between; /*COLOCA ESPACIOS EN EL MEDIO*/
    align-items: center;
    /* flex-direction: row-reverse; CAMBIA DE LUGAR LAS FILAS */
    flex-direction: row;
    align-content: flex-end;/* ALINEACION DEK CONTENIDO */
    flex-wrap: wrap; /* ORDENA EL CONTENIDO */
}

.numero1{
    background-color: darkkhaki;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    align-self: flex-end;
    order: 2; /* EL ORDEN DE LOS DIV */
}

.numero2{
    background-color: orangered;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    /* flex-grow: 0; OCUPA EL TAMAÑO DE COLUMNAS */
    /* flex-basis: 100px; DEFINE EL ANCHO QUE EL NAVEGADOR */
    /* flex-shrink: 1; MUESTRA EN EL NAVEGADOR SI EL OBJETO PUEDE REDUCIRSE Y SI QUE LO HAGA */
    flex: 0 1 100px;
    
}

.numero3{
    background-color: hotpink;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    align-self: flex-start;
}

.numero4{
    background-color: hotpink;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    align-self: flex-start;
}

.numero5{
    background-color: hotpink;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    align-self: flex-start;
}

.numero6{
    background-color: hotpink;
    margin: 5px 0px;
    width: auto;
    height: auto;
    border: 3px solid black;
    align-self: flex-start;
}

.grid{
    margin: 5% 30%;
    border: 2px solid black;
    background-color: blue;
    height: 500px;
    width: 450px;
    display: grid;
    /* grid-template-columns: auto auto; */ /* DEFINE EL TAMAÑO DE LA FILA ORDENADAMENTE */
    /* grid-template-columns: 1fr 1fr 1fr; */ /* ORDEN DE ESPACIOS DE LA COLUMNA */
    grid-template-rows: auto 100px;
    /* column-gap: 10px;
    row-gap: 10px; */
    /* gap: 10px 10px; ESPACIADO DE LA COLUMNAS Y FILAS */
    /* align-items: center; ALINEA LOS INTEMS INDEPENDIENTEMETE DE LOS VALORES DEFINIDOS */
    grid-template-columns: repeat(4, 1fr);

}

.iten1{
    background-color: crimson;
    width: auto;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

.iten2{
    background-color: darkolivegreen;
    width: auto;
    height: auto;
    grid-column-start: 0;
    grid-column-end: 0;
}

.iten3{
    background-color: rgb(252, 134, 0);
    width: auto;
    height: auto;
    grid-column: 1 / 4;
}

.iten4{
    background-color: rgb(252, 0, 252);
    width: auto;
    height: auto;
    grid-area: 1 / 3 / 1 / 5; /* C=INI, C=FIN, F=INI, F=FI */
}

.iten5{
    background-color: rgb(0, 160, 252);
    width: auto;
    height: auto;
}

.iten6{
    background-color: rgb(20, 187, 112);
    width: auto;
    height: auto;
}